<!DOCTYPE html>
<html xml:lang="pt" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tarefa disciplina tecnologias web">
    <meta name="keywords" content="HTML,CSS,XML">
    <meta name="author" content="Italo Josep">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <title>Luxury Cars</title>
</head>

<body>
    <header class="header-administrator">
        <div class="container-default container-header-administrator">
            <div>
                <p>
                    <h1>Luxury Cars<br/></h1>
                    <h2>Sua loja de veículos de luxo!</h2>
                </p>
            </div>
        </div>
    </header>

    <div class="container-default">
        <button class="buttom-new-car">
            <a href="/administrator/cadastro">
                Novo Carro
            </a>
       </button>

        <h2 class="title">Carros cadastrados</h2>
        <% data.forEach(function(car) { %>
            <div class="container-list">
                <div class="avatar-list">
                    <img src="<%= car.urlfoto %>" />
                </div>
                <div class="description-list">
                    <h3>
                        <%= car.marca %>
                            <%= car.modelo %>,
                                <%= car.cor %>,
                                    <%= car.ano %>
                    </h3>
                    <h4>
                        <%= car.preco %>
                    </h4>
                    <h4>
                        <%= car.descricao %>
                    </h4>
                </div>
                <div class="icon-list">
                    <a href="/edit/<%= car._id %>">
                        <img src="/assets/img/edit.png" />
                    </a>
                </div>
                <div class="icon-list">
                    <a href="/delete/<%= car._id %>">
                        <img src="/assets/img/trash.png" />
                    </a>
                </div>
            </div>
            <% }) %>

                <h2 class="title">Mensagens dos clientes</h2>
                <% contacts.forEach(function(contact) { %>
                    <div class="container-list">
                        <div class="description-list">
                            <h3>
                                <%= contact.name %>
                            </h3>
                            <h4>
                                <%= contact.email %>
                            </h4>
                            <h4>
                                <%= contact.subject %>
                            </h4>
                            <h4>
                                <%= contact.description %>
                            </h4>
                        </div>
                    </div>
                    <% }) %>
    </div>
</body>