<!DOCTYPE html>
<html xml:lang="pt" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tarefa disciplina tecnologias web">
    <meta name="keywords" content="HTML,CSS,XML">
    <meta name="author" content="Italo Josep">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <title>Luxury Cars</title>
</head>

<body>
    <header class="header-administrator">
        <div class="container-default container-header-administrator">
            <div>
                <p>
                    <h1>Luxury Cars<br/></h1>
                    <h2>Sua loja de veículos de luxo!</h2>
                </p>
            </div>
        </div>
    </header>

    <div class="container-full">
        <div class="container-default no-margim">
            <h2 class="title">Cadastro</h2>
            <% data.forEach(function(car) { %>
                <form class="contact" action="/edit/<%= car._id %>" method="POST">
                    <input name="marca" type="text" value="<%= car.marca %>" placeholder="Marca*" required>
                    <input name="modelo" type="text" value="<%= car.modelo %>" placeholder="Modelo*" required>
                    <input name="cor" type="text" value="<%= car.cor %>" placeholder="Cor*">
                    <input name="ano" type="text" value="<%= car.ano %>" placeholder="Ano*">
                    <input name="preco" type="text" value="<%= car.preco %>" placeholder="Preço*">
                    <input name="urlfoto" type="text" value="<%= car.urlfoto %>" placeholder="URL da foto">
                    <textarea name="descricao" placeholder="Descrição*" required><%= car.descricao %></textarea>

                    <input type="reset" value="Limpar" />
                    <input type="submit" value="Editar" />
                </form>
                <% }) %>
        </div>
    </div>

    <footer class="footer-administrator">
        <p>Feito com <i>♥</i> em Betim-MG<br/>© Copyright 2019-2019, direitos reservados</p>
    </footer>

</body>

</html>