<!DOCTYPE html>
<html xml:lang="pt" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tarefa disciplina tecnologias web">
    <meta name="keywords" content="HTML,CSS,XML">
    <meta name="author" content="Italo Josep">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <title>Luxury Cars</title>
</head>

<body>
    <header class="header">

        <div class="container-default container-header">
            <div class="name-function">
                <p>
                    <h1>Luxury Cars<br/></h1>
                    <h2>Sua loja de veículos de luxo!</h2>
                </p>
            </div>
        </div>

    </header>

    <div class="container-default container-about">
        <h2>Sobre a loja</h2>
        <p class="text-about">
            Somos uma loja de venda de carros de luxo, com mais de 15 anos de mercado, estamos na cidade de Belo Horizonte em Minas Gerais, e despachamos o veículo com toda segunça e proteção para todo o Brasil.
        </p>
    </div>

    <div class="container-default">
        <h2 class="title">Carros</h2>

        <% data.forEach(function(car) { %>
            <div class="container-list">
                <div class="avatar-list">
                    <img src="<%= car.urlfoto %>" />
                </div>
                <div class="description-list">
                    <h3>
                        <%= car.marca %>
                            <%= car.modelo %>,
                                <%= car.cor %>,
                                    <%= car.ano %>
                    </h3>
                    <h4>
                        <%= car.preco %>
                    </h4>
                    <h4>
                        <%= car.descricao %>
                    </h4>
                </div>
            </div>
            <% }) %>
    </div>

    <div class="container-full">
        <div class="container-default no-margim">
            <h2 class="title">Contato</h2>
            <form class="contact" action="/contact" method="POST">
                <input name="name" type="text" placeholder="Nome*" required>
                <input name="email" type="email" placeholder="E-mail*" required>
                <input name="subject" type="text" placeholder="Assunto">
                <textarea name="description" placeholder="Mensagem*" required></textarea>

                <input type="reset" value="Limpar" />
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </div>

    <footer>
        <p>Feito com <i>♥</i> em Betim-MG<br/>© Copyright 2019-2019, direitos reservados</p>
    </footer>

</body>

</html>